button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    animation-duration: 3000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


input[type=range]{
    user-select: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #FFFFFF;
    color:white;
    fill:white;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

@keyframes blink {
    0%   {color: lightsalmon;}
    25%  {color: lightyellow;}
    50%  {color: lightskyblue;}
    75%  {color: lightgreen;}
    100% {color: lightpink;}

    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


body{
    margin: 0;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    /*position: relative;*/
    position: fixed;
    overflow: hidden;
    background:black;
    color:white;
    font-family: "Arial";
    font-size: 30px;
    text-transform: uppercase;
    touch-action: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS*/
}