button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    position: relative;
    background:black;
    color:white;
    font-family: "Arial";
    font-size: 30px;
    text-transform: uppercase;
    touch-action: none;
}